<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>Prism</h1>
    <nav>
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">GENRIC</a></li>
        <li><a href="">ELEMENT</a></li>
      </ul>
    </nav>
  </header>

  <section class="container">

    <div class="first-section">
      <h2>
        Welcome to Prism,a free
        responsive site template by
        TEMPLATED
      </h2>
    </div>
    <div class="second-section">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Magnam cum laboriosam iure sequi. Temporibus, error in minima eligendi dolorem corporis.
      </p>
      <button>GET STARTED</button>
    </div>
  </section>
</body>
</html>