body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: rgb(105, 28, 129);
    box-sizing: border-box;
}
header{
    color: #fff;
    padding: 10px;
    text-align: left;
}
.nav-container{
    position: absolute;
    top: 0%;
    right:0%;
}
nav{
    padding: 5px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

nav li {
    margin-right: 10px;
}

nav a {
    text-align: right;
    color: mediumaquamarine;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.container {
    display: flex;
}
.first-section{
    flex: 2;
    color: #fff;
    padding: 50px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.second-section {
    flex: 2;
    color: gray;
    padding: 30px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}
.vertical-line {
    position: absolute;
    height: 30%;
    width: 1px; 
    background-color: #ccc;
    top: 20%;
    bottom: 200%;
    left: 50%; 
}
button{
    text-align: center;
    height: 40px;
    position: fixed;
    background-color: mediumaquamarine ;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 15px;
}
